###This analysis involves the dataset that contains the air quality of many places in india over several decades. However this particular project deals with the air quality index regarding Bengaluru.

In [1]:
dataset_url="https://www.kaggle.com/shrutibhargava94/india-air-quality-data/"

### This is the URL to the kaggle dataset that we will be using in this analysis

In [2]:
pip install opendatasets

Collecting opendatasets
  Downloading https://files.pythonhosted.org/packages/ac/78/322810cbe62c1fd03c44353a9f77011de0c7ab86ad294d129615cc2736a8/opendatasets-0.1.6-py3-none-any.whl
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from opendatasets) (4.41.1)
Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (from opendatasets) (1.5.9)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle->opendatasets) (0.0.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle->opendatasets) (2020.6.20)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle->opendatasets) (4.0.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle->opendatasets) (2.8.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle->opendatasets) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle->opendatasets) (2.10)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.6

In [3]:
import opendatasets as od
od.download(dataset_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: naren951
Your Kaggle Key: ··········

  0%|          | 0.00/5.22M [00:00<?, ?B/s]

Downloading india-air-quality-data.zip to ./india-air-quality-data

100%|██████████| 5.22M/5.22M [00:00<00:00, 13.8MB/s]

In [ ]:
data_dir = './india-air-quality-data'

In [ ]:
import os
os.listdir(data_dir)

['data.csv']

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df= pd.read_csv('/content/india-air-quality-data/data.csv',encoding = "ISO-8859-1")
df

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       stn_code       sampling_date  ... pm2_5        date
0           150  February - M021990  ...   NaN  1990-02-01
1           151  February - M021990  ...   NaN  1990-02-01
2           152  February - M021990  ...   NaN  1990-02-01
3           150     March - M031990  ...   NaN  1990-03-01
4           151     March - M031990  ...   NaN  1990-03-01
...         ...                 ...  ...   ...         ...
435737     SAMP            24-12-15  ...   NaN  2015-12-24
435738     SAMP            29-12-15  ...   NaN  2015-12-29
435739      NaN                 NaN  ...   NaN         NaN
435740      NaN                 NaN  ...   NaN         NaN
435741      NaN                 NaN  ...   NaN         NaN

[435742 rows x 13 columns]

### The dataset was parsed and upon observation it is obvious that it is too massive for simple analysis. Henceforth only Bengaluru will be considered.

In [ ]:
df_blr=df.loc[df['location']=="Bangalore"]

In [ ]:
df_blr

       stn_code sampling_date  ... pm2_5        date
135530       77     11/2/1988  ...   NaN  1988-02-11
135531       78     11/3/1988  ...   NaN  1988-03-11
135532       79     11/2/1988  ...   NaN  1988-02-11
135533       80     11/3/1988  ...   NaN  1988-03-11
135534       81     11/2/1988  ...   NaN  1988-02-11
...         ...           ...  ...   ...         ...
151687      598      17-03-15  ...   NaN  2015-03-17
151688      598      19-03-15  ...   NaN  2015-03-19
151689      598      25-03-15  ...   NaN  2015-03-25
151690      598      26-03-15  ...   NaN  2015-03-26
151691      598      30-03-15  ...   NaN  2015-03-30

[6660 rows x 13 columns]

### Checking for null values

In [ ]:
df_blr.isna().sum()

stn_code                       2597
sampling_date                     0
state                             0
location                          0
agency                         2597
type                              0
so2                             204
no2                              50
rspm                            424
spm                            3332
location_monitoring_station     421
pm2_5                          6660
date                              1
dtype: int64

### The dataset is sorted based on date for easier analysis.

In [ ]:
df_blr.sort_values(by="date",ascending=False)

       stn_code sampling_date  ... pm2_5        date
151314      457      31-12-15  ...   NaN  2015-12-31
150979      406      31-12-15  ...   NaN  2015-12-31
150855      405      31-12-15  ...   NaN  2015-12-31
151313      457      30-12-15  ...   NaN  2015-12-30
150530       78      30-12-15  ...   NaN  2015-12-30
...         ...           ...  ...   ...         ...
135532       79     11/2/1988  ...   NaN  1988-02-11
135530       77     11/2/1988  ...   NaN  1988-02-11
135539       78     12/1/1988  ...   NaN  1988-01-12
135541       80     12/1/1988  ...   NaN  1988-01-12
148537      598     31/9/2014  ...   NaN         NaN

[6660 rows x 13 columns]

### Since we have 2 date based columns, i.e "sampling_date" and "date" we choose to drop the colummn sampling_data as it is of a random formats.

In [ ]:
df_blr=df_blr.drop(columns="sampling_date")
df_blr

       stn_code      state  ... pm2_5        date
135530       77  Karnataka  ...   NaN  1988-02-11
135531       78  Karnataka  ...   NaN  1988-03-11
135532       79  Karnataka  ...   NaN  1988-02-11
135533       80  Karnataka  ...   NaN  1988-03-11
135534       81  Karnataka  ...   NaN  1988-02-11
...         ...        ...  ...   ...         ...
151687      598  Karnataka  ...   NaN  2015-03-17
151688      598  Karnataka  ...   NaN  2015-03-19
151689      598  Karnataka  ...   NaN  2015-03-25
151690      598  Karnataka  ...   NaN  2015-03-26
151691      598  Karnataka  ...   NaN  2015-03-30

[6660 rows x 12 columns]

### The column pm2_5 is dropped because almost everything in it is a NaN value.

In [ ]:
df_blr=df_blr.drop(columns="pm2_5")

In [ ]:
df_blr

       stn_code  ...        date
135530       77  ...  1988-02-11
135531       78  ...  1988-03-11
135532       79  ...  1988-02-11
135533       80  ...  1988-03-11
135534       81  ...  1988-02-11
...         ...  ...         ...
151687      598  ...  2015-03-17
151688      598  ...  2015-03-19
151689      598  ...  2015-03-25
151690      598  ...  2015-03-26
151691      598  ...  2015-03-30

[6660 rows x 11 columns]

### The dataset is split into smaller datasets each containing data from 5 years.

In [ ]:
df_blr_1995 = df_blr.loc[df_blr['date'] < '1995-01-01']
df_blr_1995

       stn_code      state  ... location_monitoring_station        date
135530       77  Karnataka  ...                         NaN  1988-02-11
135531       78  Karnataka  ...                         NaN  1988-03-11
135532       79  Karnataka  ...                         NaN  1988-02-11
135533       80  Karnataka  ...                         NaN  1988-03-11
135534       81  Karnataka  ...                         NaN  1988-02-11
...         ...        ...  ...                         ...         ...
135765       80  Karnataka  ...                         NaN  1991-07-01
135769       78  Karnataka  ...                         NaN  1991-08-01
135770       80  Karnataka  ...                         NaN  1991-08-01
135782       78  Karnataka  ...                         NaN  1992-02-01
135783       79  Karnataka  ...                         NaN  1992-06-01

[156 rows x 11 columns]

In [ ]:
df_blr_2005 = df_blr.loc[df_blr['date'] < '2005-01-01']
df_blr_2005 = df_blr_2005[df_blr_2005['date'] >= '1995-01-01']
df_blr_2005

       stn_code      state  ...   location_monitoring_station        date
135838       77  Karnataka  ...                           NaN  1995-01-01
135839       77  Karnataka  ...                           NaN  1995-02-01
135840       77  Karnataka  ...                           NaN  1995-03-01
135841       77  Karnataka  ...                           NaN  1995-04-01
135842       77  Karnataka  ...                           NaN  1995-05-01
...         ...        ...  ...                           ...         ...
136641      406  Karnataka  ...  Victoria Hospital, Bangalore  2004-12-16
136642      406  Karnataka  ...  Victoria Hospital, Bangalore  2004-12-21
136643      406  Karnataka  ...  Victoria Hospital, Bangalore  2004-12-23
136644      406  Karnataka  ...  Victoria Hospital, Bangalore  2004-12-27
136645      406  Karnataka  ...  Victoria Hospital, Bangalore  2004-12-29

[624 rows x 11 columns]

In [ ]:
df_blr_2010 = df_blr.loc[df_blr['date'] < '2010-01-01']
df_blr_2010 = df_blr_2010[df_blr_2010['date'] >= '2005-01-01']
df_blr_2010

       stn_code      state  ... location_monitoring_station        date
136862      NaN  Karnataka  ...              AMCO Batteries  2005-05-01
136863      NaN  Karnataka  ...              AMCO Batteries  2005-07-01
136864      NaN  Karnataka  ...              AMCO Batteries  2005-11-01
136865      NaN  Karnataka  ...              AMCO Batteries  2005-01-15
136866      NaN  Karnataka  ...              AMCO Batteries  2005-01-18
...         ...        ...  ...                         ...         ...
142238      NaN  Karnataka  ...           Victoria Hospital  2009-02-11
142239      NaN  Karnataka  ...           Victoria Hospital  2009-06-11
142240      NaN  Karnataka  ...           Victoria Hospital  2009-09-11
142241      NaN  Karnataka  ...           Victoria Hospital  2009-11-11
142242      NaN  Karnataka  ...           Victoria Hospital  2009-11-16

[2597 rows x 11 columns]

In [ ]:
df_blr_2010.isna().sum()

stn_code                       2597
state                             0
location                          0
agency                         2597
type                              0
so2                             159
no2                               6
rspm                              2
spm                               5
location_monitoring_station       0
date                              0
dtype: int64

In [ ]:
df_blr_2015 = df_blr[df_blr['date'] >= '2010-01-01']
df_blr_2015

       stn_code  ...        date
143006       77  ...  2011-11-01
143007       77  ...  2011-01-13
143008       77  ...  2011-01-18
143009       77  ...  2011-01-24
143010       77  ...  2011-01-31
...         ...  ...         ...
151687      598  ...  2015-03-17
151688      598  ...  2015-03-19
151689      598  ...  2015-03-25
151690      598  ...  2015-03-26
151691      598  ...  2015-03-30

[3282 rows x 11 columns]

### We will be considering only the data recorded between the years 2005 and 2015 as the data before that time is inadequate

In [ ]:
df_blr_2015.isna().sum()

stn_code                          0
state                             0
location                          0
agency                            0
type                              0
so2                               4
no2                               4
rspm                              1
spm                            3282
location_monitoring_station       0
date                              0
dtype: int64

### The column spm is not much of use as its data being filled in rspm and it has only NaN. 

### From simple considerations TSPM: Stands for Total Suspended Particulate Matter and would essentially be the concentration one would get when a high-volume bulk sampling is done on a filter substrate. RSPM is that fraction of TSPM which is readily inhaled by humans through their respiratory system and in general, considered as particulate matter with their diameter (aerodynamic) less than 2.5 micrometers. Larger particles would be filtered in the nasal duct.

### Hence spm value is not required as it is irrelevent and rspm can be used instead.

In [ ]:
df_blr_2015 = df_blr_2015.drop(columns='spm')
df_blr_2015

       stn_code  ...        date
143006       77  ...  2011-11-01
143007       77  ...  2011-01-13
143008       77  ...  2011-01-18
143009       77  ...  2011-01-24
143010       77  ...  2011-01-31
...         ...  ...         ...
151687      598  ...  2015-03-17
151688      598  ...  2015-03-19
151689      598  ...  2015-03-25
151690      598  ...  2015-03-26
151691      598  ...  2015-03-30

[3282 rows x 10 columns]

In [ ]:
df_blr_2010.location_monitoring_station.unique()

array(['AMCO Batteries', 'Graphite India', 'KHB Indl Area',
       'Peenya Indl. Area', 'Victoria Hospital', 'Yeshwanthpura',
       'Anand Rao Circle'], dtype=object)

In [ ]:
df_blr_2015.location_monitoring_station.unique()

array(['Graphite India, White Field Road, Bangalore',
       'AMCO Batteries, Mysore Road, Bangalore',
       'KHB Industrial Area, Near R.R. Founders, Yelahanka, Bangalore',
       'Peenya Industrial Area, Bangalore',
       'Victoria Hospital, Bangalore', 'Yeshwanthpura, Bangalore',
       'Department of Environmental Science, Jnanabharathi Campus, Bangalore University'],
      dtype=object)

### We are comparing the monitoring location for both the dataset groups and filling the stn code based on the name of the monitoring location.

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(df_blr_2015.iloc[:, 5:8].values)
df_blr_2015.iloc[:,5:8] = imputer.transform(df_blr_2015.iloc[:, 5:8].values)
df_blr_2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3282 entries, 143006 to 151691
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   stn_code                     3282 non-null   object
 1   state                        3282 non-null   object
 2   location                     3282 non-null   object
 3   agency                       3282 non-null   object
 4   type                         3282 non-null   object
 5   so2                          3282 non-null   float64
 6   no2                          3282 non-null   float64
 7   rspm                         3282 non-null   float64
 8   location_monitoring_station  3282 non-null   object
 9   date                         3282 non-null   object
dtypes: float64(3), object(7)
memory usage: 282.0+ KB

Filling NaN values with the mean of the column

In [ ]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(df_blr_2010.iloc[:, 5:8].values)
df_blr_2010.iloc[:,5:8] = imputer.transform(df_blr_2010.iloc[:, 5:8].values)
df_blr_2010.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2597 entries, 136862 to 142242
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   stn_code                     0 non-null      object
 1   state                        2597 non-null   object
 2   location                     2597 non-null   object
 3   agency                       0 non-null      object
 4   type                         2597 non-null   object
 5   so2                          2597 non-null   float64
 6   no2                          2597 non-null   float64
 7   rspm                         2597 non-null   float64
 8   spm                          2592 non-null   float64
 9   location_monitoring_station  2597 non-null   object
 10  date                         2597 non-null   object
dtypes: float64(4), object(7)
memory usage: 243.5+ KB

In [ ]:

df_blr_2010['agency']=df_blr_2010['agency'].fillna('Karnataka State Pollution Control Board')

### Since the agency column in 2010 is empty we are filling it with the same value as in 2015

In [ ]:
df_blr_2015.columns

Index(['stn_code', 'state', 'location', 'agency', 'type', 'so2', 'no2', 'rspm',
       'location_monitoring_station', 'date'],
      dtype='object')

In [ ]:
stn_add_2010 = df_blr_2010.location_monitoring_station.unique()
stn_add_2010

array(['AMCO Batteries', 'Graphite India', 'KHB Indl Area',
       'Peenya Indl. Area', 'Victoria Hospital', 'Yeshwanthpura',
       'Anand Rao Circle'], dtype=object)

In [ ]:
stn_add = df_blr_2015.location_monitoring_station.unique()

In [ ]:
stn_id = df_blr_2015.stn_code.unique()
stn_id = [int(i) for i in stn_id]

In [ ]:
dict_stn = dict(zip(stn_id, stn_add))
dict_stn

{77: 'Graphite India, White Field Road, Bangalore',
 78: 'AMCO Batteries, Mysore Road, Bangalore',
 404: 'KHB Industrial Area, Near R.R. Founders, Yelahanka, Bangalore',
 405: 'Peenya Industrial Area, Bangalore',
 406: 'Victoria Hospital, Bangalore',
 457: 'Yeshwanthpura, Bangalore',
 598: 'Department of Environmental Science, Jnanabharathi Campus, Bangalore University'}

In [ ]:
dict_stn[77] = [dict_stn[77], stn_add_2010[1]]
dict_stn[78] = [dict_stn[78], stn_add_2010[0]]
dict_stn[404] = [dict_stn[404], stn_add_2010[2]]
dict_stn[405] = [dict_stn[405], stn_add_2010[3]]
dict_stn[406] = [dict_stn[406], stn_add_2010[4]]
dict_stn[457] = [dict_stn[457], stn_add_2010[5]]
dict_stn[598] = [dict_stn[598], stn_add_2010[6]]

dict_stn

{77: ['Graphite India, White Field Road, Bangalore', 'Graphite India'],
 78: ['AMCO Batteries, Mysore Road, Bangalore', 'AMCO Batteries'],
 404: ['KHB Industrial Area, Near R.R. Founders, Yelahanka, Bangalore',
  'KHB Indl Area'],
 405: ['Peenya Industrial Area, Bangalore', 'Peenya Indl. Area'],
 406: ['Victoria Hospital, Bangalore', 'Victoria Hospital'],
 457: ['Yeshwanthpura, Bangalore', 'Yeshwanthpura'],
 598: ['Department of Environmental Science, Jnanabharathi Campus, Bangalore University',
  'Anand Rao Circle']}

In [ ]:
for code in df_blr_2010.stn_code:
  code=